/* Box model reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove default styling */
body,
html {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-bottom: 0.5em;
}

/* Links */
a {
  text-decoration: none;
  color: #337ab7;
}

a:hover {
  color: #23527c;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}

/* Lists */
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 0.5em;
}

main {
  border: 2px blue solid;
  padding: 2rem 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  flex-grow: 1;
}

.calculator {
  border: solid green 2px;
  height: 75vh;
  width: 20vw;
}

.calculator__display {
  border: 2px solid red;
  height: 25%;
}

.calculator__buttons {
  background-color: blue;
  height: 75%;
  display: flex;
  flex-flow: row wrap;
}

.btn--primary {
  width: 25%;
  max-width: 100px;
  aspect-ratio: 1/1;
}

.btn--secondary {
  width: 25%;
  max-width: 100px;
  aspect-ratio: 1/2;
}

.btn--horizontal {
  width: 50%;
  max-width: 200px;
  aspect-ratio: 2/1;
}

footer {
  border: 2px blue solid;
  margin-top: auto;
}
