/* Box model reset */
:root {
  --primary-color: #fcf5e5;
  --secondary-color: #b8f3d7;
  --text-color: #2f302b;
  --shadow-color: #2d342c;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove default styling */
body,
html {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  background-color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}

main {
  background-image: url(./img/background.png);
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.calculator {
  border: solid green 2px;
  height: 75vh;
  width: 20vw;
}

.calculator__display {
  border: 2px solid red;
  height: 25%;
}

.calculator__buttons {
  background-color: var(--secondary-color);
  height: 75%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.btn {
  /* width: 25%; */
  /* max-width: 100px; */
  /* aspect-ratio: 1/1; */
  background-color: var(--primary-color);
  /* border: none; */
  border-radius: 15px; /* More rounded corners for the buttons */
  padding: 20px; /* Larger padding for bigger buttons */
  font-size: 1.3rem; /* Slightly bigger font */
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
  flex: 1 0 21%; /* Keep 4 buttons per row */
  box-shadow: 0 5px 10px var(--shadow-color); /* Add shadow for 3D effect */
}

.btn--horizontal {
  /* width: 50%; */
  /* max-width: 200px; */
  /* aspect-ratio: 2/1; */
  flex: 2 0 46%; /* Keep zero button spanning two columns */
}

footer {
  border: 2px blue solid;
}
